.idea
__pycache__/
builder_stats.html
test.py
.buildozer/
cmdline-tools/
commandlinetools-linux-6858069_latest.zip
libffi/
transferir.jpg
venv/
dados.json
dados/
m85loh7dp0ab1.png
meu_app_data/
requirements.txt
teste.py

